services:
    backend: # app
        build:
            context: .
            dockerfile: Dockerfile.backend
            target: dev # target stage to build, CHANGE to prod for production
        container_name: backend
        restart: unless-stopped
        expose:
            - ${BACKEND_PORT}
        ports:
            - ${BACKEND_PORT}:${BACKEND_PORT}
        depends_on:
            - db
        volumes: # remove after testing
            - .:/app
        env_file: .env
        networks:
            - textractor_network

    db: # db
        image: "postgres:16.2-alpine3.19"
        container_name: db
        restart: unless-stopped
        volumes:
            - user-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        env_file: .env
        networks:
            - textractor_network

    # cache:
    #     image: redis:latest
    #     container_name: cache
    #     restart: unless-stopped
    #     expose:
    #         - ${REDIS_PORT}
    #     ports:
    #         - ${REDIS_PORT}:${REDIS_PORT}
    #     volumes:
    #         - cache-data:/data
    #     env_file: .env
    #     networks:
    #         - textractor_network

    # keycloak:
    #   image: keycloak:latest
    #   container_name: auth
    #   restart: unless-stopped
    #   command: start
    #   expose:
    #       - ${KEYCLOAK_PORT}
    #   ports:
    #       - "${KEYCLOAK_PORT}:${KEYCLOAK_PORT}"
    #   environment:
    #       - KC_PROXY_ADDRESS_FORWARDING=${KC_PROXY_ADDRESS_FORWARDING}
    #       - KC_HOSTNAME_STRICT=${KC_HOSTNAME_STRICT}
    #       - KC_HOSTNAME=${KC_HOSTNAME}
    #       - KC_PROXY=${KC_PROXY}
    #       - KC_HTTP_ENABLED=${KC_HTTP_ENABLED}
    #       - DB=${KC_DB_NAME}
    #       - DB_URL=${KC_DB_URL}
    #       - DB_USERNAME=${KC_DB_USERNAME}
    #       - DB_PASSWORD=${KC_DB_PASSWORD}
    #       - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
    #       - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
    #   env_file: .env
    #   networks:
    #     proxy:
    #     textractor_network:
    #   labels:
    #     - "traefik.enable=${TRAEFIK_ENABLE}"
    #     - "traefik.http.routers.keycloak.entrypoints=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_ENTRYPOINTS}"
    #     - "traefik.http.routers.keycloak.rule=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_RULE}"
    #     - "traefik.http.middlewares.keycloak-https-redirect.redirectscheme.scheme=${TRAEFIK_HTTP_MIDDLEWARES_KEYCLOAK_HTTPS_REDIRECT_REDIRECTSCHEME_SCHEME}"
    #     - "traefik.http.routers.keycloak.middlewares=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_MIDDLEWARES}"
    #     - "traefik.http.routers.keycloak-secure.entrypoints=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_SECURE_ENTRYPOINTS}"
    #     - "traefik.http.routers.keycloak-secure.rule=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_SECURE_RULE}"
    #     - "traefik.http.routers.keycloak-secure.tls=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_SECURE_TLS}"
    #     - "traefik.http.routers.keycloak-secure.service=${TRAEFIK_HTTP_ROUTER_KEYCLOAK_SECURE_SERVICE}"
    #     - "traefik.http.services.keycloak.loadbalancer.server.port=${TRAEFIK_HTTP_SERVICES_KEYCLOAK_LOADBALANCER_SERVER_PORT}"
    #     - "traefik.docker.network=proxy"

    keycloak-db:
        image: "postgres:16.2-alpine3.19"
        container_name: keycloak-db
        restart: unless-stopped
        volumes:
            - keycloak-db-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=${KC_POSTGRES_USER}
            - POSTGRES_DB=${KC_DB_NAME}
            - POSTGRES_PASSWORD=${KC_POSTGRES_PASSWORD}
        env_file: .env
        networks:
            - textractor_network

networks:
  proxy:
    external: true
  textractor_network:

volumes:
    user-data:
