services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: dev # target stage to build, CHANGE to prod for production
        restart: unless-stopped
        expose:
            - 8080
        ports:
            - "8080:8080"
        depends_on:
            - db
            - mongo-db
        volumes: # remove after testing
            - .:/app

    db:
        image: "postgres:16.2-alpine3.19"
        restart: unless-stopped
        expose:
            - 5432
        ports:
            - "5432:5432"
        volumes:
            - user-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=userdb_user
            - POSTGRES_PASSWORD=test1234

    mongo-db:
        image: mongo
        restart: unless-stopped
        expose:
            - 27017
        ports:
            - "27017:27017"
        volumes:
            - image-data:/data/db

    # auth:
    #   image: keycloak:latest
    #   restart: unless-stopped
    #   expose:
    #       - 8081
    #   ports:
    #       - "8081:8081"

volumes:
    user-data:
    image-data:
