services:
    app:
        build:
            context: .
            dockerfile: Dockerfile.backend
            target: dev # target stage to build, CHANGE to prod for production
        restart: unless-stopped
        expose:
            - ${BACKEND_PORT}
        ports:
            - ${BACKEND_PORT}:${BACKEND_PORT}
        depends_on:
            - db
            - mongo-db
        volumes: # remove after testing
            - .:/app
        env_file: .env

    db:
        image: "postgres:16.2-alpine3.19"
        restart: unless-stopped
        expose:
            - ${POSTGRES_PORT}
        ports:
            - ${POSTGRES_PORT}:${POSTGRES_PORT}
        volumes:
            - user-data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        env_file: .env

    mongo-db:
        build:
            context: .
            dockerfile: Dockerfile.mongodb
        restart: unless-stopped
        expose:
            - ${MONGO_PORT}
        ports:
            - ${MONGO_PORT}:${MONGO_PORT}
        volumes:
            - image-data:/data/db
            - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
        env_file: .env

    # auth:
    #   image: keycloak:latest
    #   restart: unless-stopped
    #   expose:
    #       - ${KEYCLOAK_PORT}
    #   ports:
    #       - "${KEYCLOAK_PORT}}:${KEYCLOAK_PORT}"

volumes:
    user-data:
    image-data:
